@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --timeline-color: #3a4aff;
}

:root[class~="dark"] {
  --timeline-color: #374151;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  @apply bg-white text-zinc-900;  /* 设置默认浅色主题 */
}

/* 暗色模式样式 */
.dark body {
  @apply bg-zinc-900 text-zinc-100;
}
